<form [formGroup]="loginForm" (ngSubmit)="submitForm()">
    <div class="columns is-centered">
      <div class="column has-text-centered">
          <input matInput placeholder="Gebruikersnaam" formControlName="username">
      </div>
    </div>
    <div class="columns is-centered">
      <div class="column has-text-centered">
          <input type="password" matInput placeholder="Wachtwoord" formControlName="password">
      </div>
    </div>
    <div class="columns is-centered">
      <div class="column has-text-centered">
        <button type="submit" mat-raised-button>Login</button>
        <p style="color: red; padding-top: 1%;">{{error}}</p>
      </div>
    </div>
  </form>