h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    p {
        text-align: center;
    }
}

mat-card {
    width: 500px;
    margin: auto;
    margin-top: 75px;
}